.Weather {
  background-image: url("https://images.unsplash.com/photo-1595738393803-b97e741b5b84?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80");
  background-size: 100%;

  border: 1px solid #dadde1;
  border-radius: 10px;
  color: black;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
}

.Weather form {
  margin: 15px 20px;
}

.Weather .w-100:hover,
.Weather .w-30:hover {
  color: green;
  background-color: white;
}

.Weather .current-location {
  text-align: right;
}

.Weather h1 {
  font-size: 50px;
  font-weight: 500;
  margin: 20px 0 10px 20px;
  padding: 10px;
  line-height: 29px;
}

.Weather ul {
  margin: 0 0 0 20px;
  padding: 0 0 10px 10px;
}

.Weather li {
  font-size: 17px;
  font-weight: 200px;
  line-height: 25px;
  list-style: none;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .current-icon {
  position: relative;
  left: 75px;
  top: 35px;
}

.Weather .current-temp {
  font-weight: 500;
  font-size: 64px;
  margin-left: 0;
}

.Weather .UnitConversion {
  position: relative;
  left: 175px;
  bottom: 75px;
}

.Weather .temp-units {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  bottom: 50px;
  font-size: 12px;
}

.Weather .units:hover {
  color: red;
  cursor: pointer;
}

.Weather a {
  color: darkgray;
  text-decoration: none;
}

.Weather .today-details {
  position: relative;
  top: 30px;
  left: 30px;
  text-align: left;
}
