.Weather {
  border: 1px solid #dadde1;
  border-radius: 10px;
  color: gray;
  font-family: "Montserrat", sans-serif;

  padding: 16px;
}

.Weather form {
  margin: 10px 20px;
}

.Weather .current-location {
  text-align: right;
}

.Weather h1 {
  font-size: 50px;
  font-weight: 500;
  margin: 20px 0 0 20px;
  padding: 10px;
  line-height: 29px;
}

.Weather ul {
  margin: 0 0 0 20px;
  padding: 0 0 10px 10px;
}

.Weather li {
  font-size: 15px;
  font-weight: 200px;
  line-height: 25px;
  list-style: none;
}

.Weather .current-icon {
  display: inline-block;
  height: 65px;
  margin: 0 10px 0 20px;
  position: relative;
  bottom: 15px;
}

.Weather .current-temp {
  font-weight: 500;
  font-size: 64px;
  margin-left: 0;
}

.Weather .temp-units {
  display: inline-block;
  margin: 0 10px;
  position: relative;
  bottom: 45px;
  font-size: 12px;
}

.Weather a {
  color: darkgray;
  text-decoration: none;
}

.Weather .forecast {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.Weather h5 {
  font-size: 15px;
  font-weight: 400;
}

.Weather h4 {
  font-size: 13px;
  font-weight: 500;
  padding-top: 10px;
}
