.Weather {
  border: 1px solid #dadde1;
  border-radius: 10px;
  color: gray;
  font-family: "Montserrat", sans-serif;

  padding: 16px;
}

.Weather form {
  margin: 10px 20px;
}

.Weather .current-location {
  text-align: right;
}

.Weather h1 {
  font-size: 35px;
  font-weight: 500;
  margin: 20px 0 0 20px;
  padding: 10px;
  line-height: 29px;
}

.Weather ul {
  margin: 0 0 0 20px;
  padding: 0 0 10px 10px;
}

.Weather li {
  font-size: 14px;
  font-weight: 200px;
  line-height: 25px;
  list-style: none;
}

.Weather img {
  display: inline-block;
  height: 65px;
  margin: 0 10px 0 20px;
  position: relative;
  bottom: 10px;
}

.Weather .current-temp {
  font-weight: 500;
  font-size: 50px;
  margin-left: 0;
}

.Weather .temp-units {
  font-size: 11px;
  position: relative;
  bottom: 35px;
  margin: 10px;
}
